#guiSkeleton,
.showContent,
.episodes,
.showLastUpdate,
.hiddenScrapedSeasonsSection,
.scrapers,
.bestFileId {
	display: none;
}

.seasonTitle {
	display: inline;
	cursor: pointer;
}

.showTitle {
	cursor: pointer;
}

.show:nth-child(even) {
	background: #f5f5f5;
}

.scrapersSectionTitle .icon-plus-sign {
	vertical-align:middle;
}

.actionIcons {
	white-space: nowrap;
	text-align: right;
}

.fileURIContainer {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.warningMsg.good {
	color: green;
}

.warningMsg.bad {
	color: red;
}
