#guiSkeleton,
.showContent,
.episodes,
.showLastUpdate,
.hiddenScrapedSeasonsSection,
.scrapers,
.bestFileId {
	display: none;
}

.showContent {
	margin-top: 2em;
}

.showContent h2 {
	margin-top: 0;
}

.seasonTitle {
	cursor: pointer;
}

.showTitle {
	cursor: pointer;
}

.show:nth-child(even) {
	background: #f5f5f5;
}

.scrapersSectionTitle .icon-plus-sign {
	vertical-align:middle;
}

.actionIcons {
	white-space: nowrap;
	text-align: right;
}

.actionIcons a {
	color: black;
}

tfoot .actionIcons {
	text-align: center;
	font-size: 2em;
}

.seasons h3.actionIcons {
	text-align: center;
}

.fileURIContainer {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.warningMsg.good {
	color: green;
}

.warningMsg.bad {
	color: red;
}

.modal-header h3 {
	margin: 0px;
}

.season header {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.show header h1 {
	margin-top: 5px;
}

.tvShowScraperAdd {
	font-size: 0.7em;
	padding-left: 0.5;
}

.showScraper td {
	vertical-align: middle;
}

.actionIcons.visible-xs {
	font-size: 1.5em;
}

.seasons h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}


.well {
	padding: 12px;
}
